@import './base.css';

#app {
  font-weight: normal;
}

#app .container-fluid {
  padding: 0;
}

#app h2 {
  font-size: 3rem;
  line-height: normal;
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }
}
